/* Full Background */
.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1f4037, #99f2c8);
  font-family: Arial, sans-serif;
}

/* Card Box */
.register-box {
  background: white;
  padding: 35px 30px;
  width: 380px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Title */
.register-box h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

/* Inputs */
.register-box input,
.register-box select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Focus effect */
.register-box input:focus,
.register-box select:focus {
  border-color: #27ae60;
  outline: none;
}

/* Register Button */
.register-btn {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  background: #27ae60;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.register-btn:hover {
  background: #1e8449;
}

/* Back Button */
.back-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background: #7f8c8d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-btn:hover {
  background: #626e70;
}

/* Footer Link */
.register-footer {
  margin-top: 15px;
  font-size: 14px;
}

.register-footer span {
  color: #27ae60;
  font-weight: bold;
  cursor: pointer;
}
.success-message {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}